<% if (theme.plugins.parallax.enable) { %>
  <div id="parallax-window"></div>
<% } else if (theme.plugins.lazyload && theme.plugins.lazyload.enable) { %>
  <div class='cover-bg lazyload placeholder pjax' 
  <% if (page.layout == "post") { %>
    <% if (page.cover.includes("http")) { %>
      data-bg="<%- page.cover %>"
    <% } %>
  <% } else { %>
    data-bg="<%- theme.cover.background %>"
  <% } %>
  fetchpriority="low"></div>
  
<% } else { %>
  <div class='cover-bg pjax' 
  <% if (page.layout == "post") { %>
    <% if (page.cover.includes("http")) { %>
      style='background-image:url(<%- page.cover %>)'
    <% } %>
  <% } else { %>
    style='background-image:url(<%- theme.cover.background %>)'
  <% } %>
  fetchpriority="low"></div>
<% } %>
<%- partial(theme.cover.layout_scheme) %>